<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.team3.rc_pro.mapper.LikeInfoMapper">

	<insert id="insertLikeInfo">
		INSERT INTO rc_pro.like_info
		VALUES (#{user_num}, #{post_id})
	</insert>

	<delete id="deleteLikeInfo">
		DELETE FROM rc_pro.like_info
		WHERE user_num = #{user_num} and post_id = #{post_id}
	</delete>
	
	<select id="countLike" resultType="int">
		SELECT count(*)
		FROM rc_pro.like_info
		WHERE post_id = #{post_id}
	</select>

</mapper>